body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1023px;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}

li {
  padding-bottom: 10px;
  font-size: 18px;
}

ul {
  padding-top: 5px;
}

a {
  text-decoration: none;
}
